<header id="main-header">
    <div class="hero">
        <h1 class="text-light">
            Welcome to <span class="text-primary">StraightFlush</span>
        </h1>

        <h2 class="text-light">
            Checkout our store or login using the links below
        </h2>
        <div>
            <div>
                <a class="btn btn-outline text-light" routerLink="/products"
                    >View Our Store</a
                >
                <i class="arrow arrow-light up"></i>
            </div>
            <div>
                <a class="btn btn-light text-black" routerLink="/login"
                    >Login</a
                >
                <i class="arrow arrow-primary up"></i>
            </div>
        </div>
    </div>
</header>
