img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin-right: 25px;
}

.product-listing {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.product-info {
    align-items: center;
    justify-content: center;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.quantity {
    font-size: 14px;
    color: #1e293b;
}

p {
    font-size: 18px;
}