<div class="top">
    <div
        [ngClass]="navOpen ? 'nav active' : 'nav not-active'"
        (click)="toggleNav()"
    >
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="logo" routerLink="/">
        <img src="assets/img/logo.png" alt="Logo" />
        <h2>StraightFlush</h2>
    </div>
    <div class="shop">
        <i
            *ngIf="!isAdmin && isLoggedIn"
            class="bi bi-bag cart"
            routerLink="/cart"
        >
            <p>{{ numItems }}</p>
        </i>
        <i (click)="toggleAcct()" class="bi bi-person-circle"></i>
    </div>
</div>

<app-mobile-nav
    [navOpen]="navOpen"
    (toggleMenu)="toggleNav($event)"
></app-mobile-nav>

<app-account-nav
    [navOpen]="acctOpen"
    (toggleMenu)="toggleAcct($event)"
></app-account-nav>
