<div (click)="navigate()" class="product">
    <img
        [src]="getProductImage()"
        (error)="imageError()"
        alt=""
        height="200"
        width="200"
    />
    <div class="product-bottom">
        <div class="product-info">
            <h3 class="name">{{ product?.name }}</h3>
            <p *ngIf="product?.price" class="price">
                ${{ product?.price | number: "1.2-2" }}
            </p>
        </div>
        <button (click)="addToCart($event)" [disabled]="!inStock()">
            {{ inStock() ? "Add to Cart" : "Sold Out" }}
        </button>
    </div>
</div>
