.product-detail {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.image-slides {
    margin-left: 20px;
    margin-right: 10px;
    width: 8%;
    display: flex;
    flex-direction: column;
}

.image-slides .image {
    height: 75px;
    width: 75px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #000000;
    border-radius: 10px;
}

.image-slides .image img {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.image-slides .upload {
    height: 75px;
    width: 75px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #1e293b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.image-slides .upload:hover {
    background-color: #1e293b;
    color: #fff;
}

.image-slides .image.selected img {
    border: 5px solid #479261;
    box-shadow: 1px 1px 10px #000000;
}

.image-slides .image:hover img {
    opacity: 0.5;
}

.image-pane {
    margin-right: 20px;
}

.image-pane img {
    border-radius: 10px;
    width: 500px;
    height: 500px;
}

.nav-buttons {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.file-input {
    display: none;
}

.product-name {
    margin-bottom: 10px;
}

.product-price {
    color: #465772;
    margin-left: 5px;
    margin-bottom: 10px;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: 20px;
    text-align: left;
    width: auto;
}

.title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    /* min-width: 150%; */
}

.edit-button {
    display: flex;
    background-color: #ffffff00;
    border: 2px solid #1e293b;
    border-radius: 50%;
    /* transform: translateY(-0.5rem); */
    /* width: 2rem; */
    /* height: 2rem; */
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    color: #1e293b;
}

.edit-button:hover {
    background-color: #1e293b;
    color: #fafafa;
}

.name-edit {
    /* width: auto; */
    /* min-width: 50%; */
    width: 90%;
    font-weight: bold;
    text-align: center;
}

.description-edit {
    display: flex;
    /* width: 200%; */
    /* height: 50%; */
    width: 90%;
    padding: 10px;
    border: 2px solid #1e293b;
    border-radius: 10px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    resize: none;
}

.description-edit-label {
    margin-top: 20px;
    align-self: flex-start;
}

.price-edit-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #465772;
}

.price-edit {
    width: 85%;
    /* min-width: 50px; */
    /* width: auto; */
    font-size: 1.75rem;
    text-align: center;
    border-width: 0;
    color: #465772;
    border-bottom: 2px solid #2f3a4c;
}

.price-edit-sign {
    font-size: 1.75rem;
    width: 5%;
}

.options {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.options label {
    font-size: 1.5rem;
    font-weight: bold;
}

.options #quantity {
    width: 80px;
    text-align: center;
    border-width: 0;
    color: #465772;
    border-bottom: 2px solid #2f3a4c;
}

.edit-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 10px;
}

.save-edit {
    background-color: #ffffff00;
    border: 2px solid #479261;
    color: #479261;
}

.save-edit:hover {
    background-color: #479261;
    color: #fafafa;
}

.cancel-edit {
    background-color: #ffffff00;
    border: 2px solid #465772;
    color: #465772;
}

.cancel-edit:hover {
    background-color: #465772;
    color: #fafafa;
}

.delete-product {
    background-color: #ffffff00;
    border: 2px solid #e44540;
    color: #e44540;
}

.delete-product:hover {
    background-color: #e44540;
    color: #fafafa;
}

input {
    font-size: 1.75rem;
    text-align: center;
    border-width: 0;
    border-bottom: 2px solid #2f3a4c;
}

button {
    cursor: pointer;
    border: none;
    background-color: #1e293b;
    color: #fafafa;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
}

button:hover {
    background-color: #2f3a4c;
}

button:disabled {
    background-color: #1e293b;
    opacity: 0.5;
    cursor: default;
}

button:disabled:hover {
    background-color: #1e293b;
    opacity: 0.5;
}

button.danger {
    background-color: #e44540;
    color: #fafafa;
}

button.danger:hover {
    background-color: #c43c36;
    color: #fafafa;
}

svg {
    width: 1rem;
    height: 1rem;
}

@media screen and (max-width: 1500px) {
    .product-detail {
        flex-direction: column;
    }
    .detail {
        width: 90%;
        margin: 10px;
    }
    .title-bar {
        width: 100%;
    }
    .name-edit {
        width: 100%;
    }
    .description-edit {
        width: 100%;
    }
    .price-edit {
        width: 100%;
    }
    .options {
        width: 100%;
    }
    .images {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }
    .image-slides {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        width: 90%;
    }
    .image-pane {
        margin-right: 0;
    }
}

@media screen and (max-width: 1000px) {
    .image-pane img {
        width: 80vw;
        height: 80vw;
    }
    .nav-buttons {
        width: 80vw;
    }
}
