<div *ngIf="product" class="product-detail">
    <div class="image-upload">
        <input
            type="file"
            class="file-input"
            id="file-input"
            accept="image/jpeg"
            (change)="onFileChange($event)"
            #fileUpload
        />
    </div>
    <div class="images">
        <div class="image-slides">
            <div
                *ngFor="
                    let item of [].constructor(product.numImages + 1);
                    let i = index
                "
            >
                <div
                    *ngIf="i < product.numImages"
                    [ngClass]="
                        getCurrentImg() === i ? 'image selected' : 'image'
                    "
                    (click)="goToImg(i)"
                >
                    <img [src]="getImgLocation(i)" />
                </div>
                <div
                    *ngIf="!(i < product.numImages) && isEditing()"
                    (click)="fileUpload ? fileUpload.click() : null"
                    class="upload"
                >
                    <h3>+</h3>
                </div>
            </div>
        </div>
        <div class="image-pane">
            <img *ngIf="isImageLoaded()" [src]="imgSource" />
            <div class="nav-buttons">
                <button (click)="prevImg()" class="left">
                    <i class="bi bi-arrow-left-circle"></i>
                </button>
                <button
                    class="danger"
                    *ngIf="isEditing() && product.numImages > 0"
                    (click)="stageDeleteImage()"
                >
                    Delete This Image
                </button>
                <button (click)="nextImg()" class="right">
                    <i class="bi bi-arrow-right-circle"></i>
                </button>
            </div>
            <div
                *ngIf="!isImageLoaded()"
                style="width: 500px; height: 500px"
            ></div>
        </div>
    </div>
    <div class="detail">
        <div class="title-bar">
            <h1 *ngIf="!isEditing()" class="product-name">
                {{ product.name }}
            </h1>
            <input
                *ngIf="isEditing()"
                class="name-edit"
                [(ngModel)]="product.name"
            />

            <button
                *ngIf="isAdmin() && !isEditing()"
                class="edit-button"
                (click)="startEditing()"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    class="bi bi-pencil"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
                    />
                </svg>
            </button>
        </div>
        <h2 *ngIf="!isEditing()" class="product-price">
            ${{ product.price | number: "1.2-2" }}
        </h2>
        <div *ngIf="isEditing()" class="price-edit-container">
            <p class="price-edit-sign">$</p>
            <input
                class="price-edit"
                [(ngModel)]="product.price"
                type="number"
            />
        </div>
        <!-- Angular protects against XSS so the innerHtml here is safe. -->
        <div
            *ngIf="!isEditing()"
            class="description"
            [innerHtml]="product.description"
        ></div>
        <h3 class="description-edit-label" *ngIf="isEditing()">
            Edit Description
        </h3>
        <textarea
            *ngIf="isEditing()"
            id="description-edit"
            class="description-edit"
            [(ngModel)]="product.description"
        ></textarea>
        <div class="options">
            <div>
                <label for="quantity">Quantity: </label>
                <input
                    *ngIf="!isEditing()"
                    id="quantity"
                    type="number"
                    min="1"
                    step="1"
                    [(ngModel)]="localQuantity"
                    placeholder="1"
                />
                <input
                    *ngIf="isEditing()"
                    id="quantity"
                    type="number"
                    min="0"
                    step="1"
                    [(ngModel)]="product.quantity"
                    placeholder="0"
                />
            </div>
            <div>
                <button
                    *ngIf="!isEditing()"
                    (click)="addToCart($event)"
                    [disabled]="!inStock()"
                >
                    {{ inStock() ? "Add to Cart" : "Sold Out" }}
                </button>
            </div>
        </div>
        <div *ngIf="isEditing()" class="edit-controls">
            <button class="save-edit" (click)="saveEdit()">Save Edits</button>
            <button class="cancel-edit" (click)="cancelEdit()">Cancel</button>
            <button class="delete-product" (click)="deleteProduct()">
                Delete Product
            </button>
        </div>
    </div>
</div>
