.search-container {
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 900px;
}

.search {
    margin-left: 20px;
    display: block;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #aaa;
    flex: 1;
}

.search-submit {
    display: block;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-right: 20px;
    border: none;
    background: #1e293b;
    color: #fff;
    padding: 5px 10px;
}

.products-container {
    margin: 40px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 60vh;
}

.not-found {
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
}
